<!DOCTYPE html>
<html> 
	<head>
	<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
		<title>Foire aux questions</title>
	<script>
  	tinymce.init({
    selector: '#mytextarea'
  	});
  	</script>
	</head>
	<body>
	<div id="hautdepage">
		<h1>Foire aux questions</h1>
	</div>
	<div id="contenu">
		<table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>	
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>		
		</table>
		<form method="post">
    		<textarea id="mytextarea">Hello, World!</textarea>
  		</form>
		<div id="questions">
			<ol>
				<li>C'est queoi Ntic ?</li>
				<li>Pourquoi utilisr Ntic ?</li>		
				<li>Comment utiliser Ntic ?</li>
			</ol>
		</div>
	</div>
	<div id="basdepage">
	</div>
	</body>
<html>

       
