<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>staticwelcome</title>
    <style type="text/css">
#header {
  background-color: #6600cc;
}

#showme {
  font-size: medium;
  background-color: #009900;
  width: 200px;
  color: white;
  height: 30px;
}

#register {
  background-color: #009900;
}

</style></head>
  <body>
    <h1 style="text-align: center;"><span style="font-family: Verdana;">NewsTic</span></h1>
    <h3 id="subtitle" style="  text-align: center;"><span style="font-family: Verdana;">Publiez
        vos nouvelles en quelques clicks</span></h3>
    <div style="text-align: center;">
      <form novalidate="novalidate" action="" name="firstnews"><textarea rows="10"
cols="80" name="newstext"></textarea> <br>
        <button id="register" style="width: 104px; height: 35px;" type="submit"
          value="publier" name="publier">Publier</button> </form>
    </div>
    <div style="text-align: right;"></div>
  </body>
</html>
